<%=form_with model: recipe do |f| %>
  <div>
    <%= f.label 'Nome' %>
    <%= f.text_field :name %>
  </div>
  <div>  
    <%= f.label 'Tipo de receita'%>
    <%= f.collection_select :recipe_type_id, RecipeType.all, :id, :name %>
  </div>
  <div>
    <%= f.label 'Cozinha' %>
    <%= f.collection_select :cuisine_id, Cuisine.all, :id, :name %>
  </div>
  <div>
    <%= f.label 'Ingredientes' %>
    <%= f.text_area :ingredients %>   
  </div>
  <div>
    <%= f.label 'Método de cozimento' %>
    <%= f.text_field :cook_method %>   
  </div>
  <div>
    <%= f.label 'Tempo de cozimento' %>
    <%= f.number_field :cook_time %>  
  </div>
  <div>
    <%= f.submit 'Salvar'%>
  </div>
<%end%>