<h1>Informações sobre a receita de <%=@recipe.name%></h1>
<strong>Nome:</strong> <%= @recipe.name %> <br>
<strong>Tipo de receita:</strong> <%= @recipe.recipe_type %> <br>
<strong>Cozinha:</strong> <%= @recipe.cuisine %> <br>
<strong>Tipo de receita:</strong> <%= @recipe.cook_method %> <br>
<strong>Tipo de receita:</strong> <%= @recipe.cook_time %> <br>
<strong>Tipo de receita:</strong> <%= @recipe.ingredients %>